{% extends 'blog/base.html' %}
{% block content %}
<h1>Sobre nós</h1>

<p>Criada a partir do respeito e do desejo de aprender inovando,
    a IEEE Computer Society UnB é focada em desenvolver soluções tecnológicas computacionais,
    tanto em software quanto em hardware; diminuir a distância entre estudantes, empresas e universidades;
    e de fomentar pesquisas que busquem não somente gerar novos produtos como também oferecer uma
    oportunidade para novas experiências e aprendizados aos seus membros.</p>

<h1>Projetos</h1>

<p>Atualmente há divisão de projetos seguindo a linha de projetos contínuos e
    projetos entregáveis.
</p>

<h1>Como participar</h1>

<p>Processo seletivo em breve.</p>

{% endblock %}
