{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Site da CS UnB">
        <meta name="author" content="CS UnB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/master.css' %}">
        <title>Computer Society UnB</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Computer Society UnB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">Calendário</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts">Blog</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                            </li>
                            <li>
                                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                            </li>
                            <li>
                                <a href="/">Olá {{ user.username }}</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Log out</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <br>
        <br>
        <br>

        <!-- Page Content -->
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/bootstrap.js' %}" charset="utf-8"></script>
    </body>
</html>
