{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Calendar</h1>
            <table class="calendar">
                <tr>
                    <th colspan="7">
                        <span class="circle t_left">
                            <a href="/?q=calendar {{previous_month}}">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="calendar__header">
                            <b>{{month_year}}</b>
                        </span>
                        <span class="circle t_right">
                            <a href="/?q=calendar {{next_month}}">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>S</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td><button type="button" onclick="chama_eventos_do_dia(31, '{{month_year}}')">31</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h1>{{day_month}}</h1>
            <div class="" id="eventos-do-dia">

            </div>
        </div>
    </div>
</div>

{% endblock %}
