{% extends 'blog/base.html' %}
{% block content %}

<!-- Header with Background Image -->
<header class="business-header">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <div class="row">
                <h1 class="d-block display-1 text-center text-white mt-4">Business Name or Logo</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4">Quem somos nós?</h2>
            <p>Tattooed pitchfork etsy shoreditch narwhal pour-over XOXO. Street art gastropub marfa vegan crucifix. Taxidermy blog pok pok cardigan, mlkshk normcore shabby chic scenester sustainable prism chambray bespoke paleo flexitarian.</p>
            <p>90's shaman copper mug ugh, hoodie mixtape snackwave. Knausgaard taiyaki gastropub dreamcatcher. Yuccie occupy venmo taiyaki sustainable meh vice green juice helvetica ugh church-key bespoke cliche thundercats.</p>
        </div>
        <div class="col-sm-4">
            <h2 class="mt-4">Calendário</h2>
            <!-- TODO Add home page calendar -->
            <p>E agora? O que colocar aqui?</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- É aqui que deve aparecer um prévia dos posts do blog. -->
    <div class="row">
        <div class="container">
            <h2 class="mt-4">Últimas notícias</h2>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Vaporware ennui tousled four loko microdosing lo-fi raw denim pok pok YOLO wolf jean shorts hella.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Ler</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Direct trade sriracha cred iceland, seitan kombucha air plant.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Ler</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Green juice iceland affogato sartorial viral kinfolk ethical la croix messenger bag brooklyn meh. Master cleanse beard jianbing succulents pinterest.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Talvez ler</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
